
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Node.js Task List App</title>

    <!-- Bootstrap core CSS -->
    <link href="../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../style/cover.css" rel="stylesheet">

  </head>

  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Project Node Task App</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li class="active"><a href="#">Home</a></li>
                  <li><a href="/showSignInPage">SignIn</a></li>
                  <li><a href="/showSignUpPage">SignUp</a></li>
                </ul>
              </nav>
            </div>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading">Node Task App</h1>
            <p class="lead">Task App Using Node.js & MySQL.</p>
            <p class="lead">
              <a href="/showSignUpPage" class="btn btn-lg btn-default">Sign Up</a>
            </p>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>Node Task App, by <a href="https://twitter.com/jay3dec">@jay3dec</a>.</p>
            </div>
          </div>

        </div>

      </div>

    </div>

    
  </body>
</html>
